.linkBtn {
  background-color: #EAECF0 !important;
  height: 76px;
  border: 1px solid #EAECF0 !important;
  border-radius: 8px !important;
  color: #101828 !important;
}

.linkBtn:hover {
  background-color: #D0D5DD !important;
}

.linkBtn a {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
}

.profileImg {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  padding: 0px;
  width: 180px;
  height: 180px;
  background-color: #D0D5DD;
  border-radius: 100%;
}

.profileImg:hover {
  background-color: #EAECF0 !important;
}

.navToggle {
  position: absolute;
  width: 40px;
  height: 40px;
  right: 208px;
  top: 10px;
  border: 1px dashed #D0D5DD;
  border-radius: 20px;
  background: #FFFFFF;
}

.form-control:focus {
  border-color: none !important;
}

.form-check-input:focus {
  box-shadow: none !important;

}

#profile__img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

#nav_img1 {
  position: absolute;
  left: 30%;
  right: 11.53%;
  top: 25.95%;
  bottom: 14.95%;
  Width: 15.19px;
  Height: 14.02px;
}

#nav_img2 {
  position: absolute;
  display: none;
  left: 30%;
  right: 11.53%;
  top: 25.95%;
  bottom: 14.95%;
  Width: 15.19px;
  Height: 14.02px;
}

#twitter,
#slack {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #101828;
  text-align: center;
}

#vector {
  Width: 7.87px;
  Height: 7.75px;
}

.mainText {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700 !important;
  font-size: 20px;
  line-height: 30px;
}

#subText {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #667085;
}

#logo {
  width: 132.13px;
  height: 32px;
}

#slackImg {
  width: 24px;
  height: 24px;
}

#socialImg {
  width: 24px;
  height: 23.45px;
}

h3 {
  height: 44px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  color: #101828;
  letter-spacing: -0.02em;
}

p {
  height: 30px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #475467;
}

@media only screen and (min-width: 568px) {
  .form {
    width: 820px;
  }
  .navToggle {
    position: absolute;
    width: 40px;
    height: 40px;
    right: 98px;
    top: 10px;
    border: 1px dashed #D0D5DD;
    border-radius: 20px;
    background: #FFFFFF;
  }

  #nav_img1 {
    position: absolute;
    left: 30%;
    right: 11.53%;
    top: 25.95%;
    bottom: 14.95%;
    Width: 15.19px;
    Height: 14.02px;
  }
}

@media only screen and (max-width: 568px) {
  .profileImg {
    width: 150px;
    height: 150px;
    border-radius: 100%;
  }

  #profile__img {
    border-radius: 50%;
    width: 120px;
    height: 120px;
  }

  .navToggle {
    position: absolute;
    width: 40px;
    height: 40px;
    right: 40px;
    top: 10px;
    border: 1px dashed #D0D5DD;
    border-radius: 20px;
    background: #FFFFFF;
  }

  #nav_img1 {
    position: absolute;
    display: none;
    left: 30%;
    right: 11.53%;
    top: 25.95%;
    bottom: 14.95%;
    Width: 15.19px;
    Height: 14.02px;
  }

  #nav_img2 {
    position: absolute;
    display: block;
    left: 30%;
    right: 11.53%;
    top: 45.83%;
    bottom: 45.83%;
    Width: 13.33px;
    Height: 1.67px;
  }
}

@media only screen and (max-width: 380px) {
  .profileImg {
    width: 120px;
    height: 120px;
    border-radius: 100%;
  }

  #profile__img {
    border-radius: 50%;
    width: 90px;
    height: 90px;
  }

  .navToggle {
    position: absolute;
    width: 40px;
    height: 40px;
    right: 15px;
    top: 10px;
    border: 1px dashed #D0D5DD;
    border-radius: 20px;
    background: #FFFFFF;
  }

  #nav_img1 {
    position: absolute;
    display: none;
    left: 30%;
    right: 11.53%;
    top: 25.95%;
    bottom: 14.95%;
    Width: 15.19px;
    Height: 14.02px;
  }

  #nav_img2 {
    position: absolute;
    display: block;
    left: 30%;
    right: 11.53%;
    top: 45.83%;
    bottom: 45.83%;
    Width: 13.33px;
    Height: 1.67px;
  }
}